<?xml version='1.0' encoding='utf-8'?>

<icon src="web_hi_res_512.png" density="ldpi" />
<widget id="com.scidoo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>Scidoo</name>
	<description>
		Scidoo App for controlling temperature of your apartaments
	</description>

	<author email="info@webcoom.com" href="http://www.scidoo.com">
	   PhoneGap Team
	</author>
	
	
              <icon src="web_hi_res_512.png" density="ldpi" />
              <icon src="web_hi_res_512.png" density="mdpi" />
              <icon src="web_hi_res_512.png" density="hdpi" />
              <icon src="web_hi_res_512.png" density="xhdpi" />

		<!-- you can use any density that exists in the Android project -->
		<splash src="splashscreen.png" density="land-hdpi"/>
		<splash src="splashscreen.png" density="land-ldpi"/>
		<splash src="splashscreen.png" density="land-mdpi"/>
		<splash src="splashscreen.png" density="land-xhdpi"/>
	
	
	
	
	
	<platform name="ios" />
	<platform name="android" />
	<platform name="winphone" />
	
	<param name="android-package" value="org.apache.cordova.core.NetworkManager" />
	<access origin="*" />
	<plugin name="cordova-plugin-whitelist"  source="npm" version="1.1.0" />
	<allow-intent href="*" />
	<allow-navigation href="*" />

	<preference name="phonegap-version" value="cli-6.0.0" />
</widget>

