<?xml version='1.0' encoding='utf-8'?>

<widget id="com.scidoo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>Scidoo - Booking App</name>
	<description>
		Scidoo - Manage you Booking
	</description>

	<author email="info@webcoom.com" href="http://www.scidoo.com">
	   Scidoo Team
	</author>
	
	<icon src="web_hi_res_512.png"  />
	 <splash src="splashscreen.png" />
	
	
	<platform name="android">
		<!-- you can use any density that exists in the Android project -->
		<splash src="splashscreen.png" density="land-hdpi"/>
		<splash src="splashscreen.png" density="land-ldpi"/>
		<splash src="splashscreen.png" density="land-mdpi"/>
		<splash src="splashscreen.png" density="land-xhdpi"/>
	
		<splash src="splashscreen.png" density="port-hdpi"/>
		<splash src="splashscreen.png" density="port-ldpi"/>
		<splash src="splashscreen.png" density="port-mdpi"/>
		<splash src="splashscreen.png" density="port-xhdpi"/>
</platform>
	
	
	
	<platform name="ios" />
	<platform name="android" />
	<platform name="winphone" />
	
	<param name="android-package" value="org.apache.cordova.core.NetworkManager" />
	<access origin="*" />
	<plugin name="cordova-plugin-whitelist"  source="npm" version="1.1.0" />
	<allow-intent href="*" />
	<allow-navigation href="*" />

	<preference name="phonegap-version" value="cli-6.0.0" />
</widget>

