<preference name="SplashScreen" value="screen" />
<preference name="SplashScreenDelay" value="6000" />
<preference name="SplashMaintainAspectRatio" value="true" />

<platform name="android">
    <splash src="screen/android/ldpi.9.png" density="ldpi"/>
    <splash src="screen/android/mdpi.9.png" density="mdpi"/>
    <splash src="screen/android/hdpi.9.png" density="hdpi"/>
    <splash src="screen/android/xhdpi.9.png" density="xhdpi"/>
</platform>

<preference name="loglevel" value="DEBUG"/>
<preference name="AndroidLaunchMode" value="singleTop"/>
<preference name="ErrorUrl" value=""/>
<preference name="monaca:DisableCookie" value="false"/>
<feature name="App">
    <param name="android-package" value="org.apache.cordova.App"/>
</feature>
<preference name="monaca:androidVersionCode" value="1"/>
<preference name="KeyboardShrinksView" value="true"/>
<preference name="monaca:MonacaBackendUrl" value="https://cloud.monaca.mobi/json-rpc/"/>
<preference name="monaca:MonacaBackendId" value="5462a7b9fd1734575d0f0317"/>
<preference name="monaca:MonacaBackendApiKey" value="e839514dc867719689001fa1c32a17136adeb1ba631c5885b2f996b1375f9cb4"/>
<preference name="KeepRunning" value="true"/>
<preference name="monaca:AndroidIsPackageNameSeparate" value="false"/>
<preference name="DisallowOverscroll" value="true"/>
<preference name="monaca:WebViewEngine" value="default"/>
<preference name="Orientation" value="portrait"/>
<preference name="Fullscreen" value="false"/>
<preference name="BackgroundColor" value="0xff1b3c81"/>

<access origin="*"/>
